[submodule "thirdparties/json"]
	path = thirdparties/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparties/cuFHEpp"]
	path = thirdparties/cuFHEpp
	url = https://github.com/virtualsecureplatform/cuFHEpp.git
[submodule "thirdparties/starpu"]
	path = thirdparties/starpu
	url = https://github.com/starpu-runtime/starpu.git
